[buildout]
extends = therp.cfg

[odoo]
# add your merges and addons here
addons +=
merges +=

# Default log level is DEBUG. Set to INFO for production
#options.log_level = info

# If you have problems with redirects to http where it should be https,
# uncomment this
# options.proxy_mode = True

# This directive will nuke local changes, but without it, a branch with merges
# cannot be updated if the main branch has progressed. This will break
# rebuilds. Use this in production and testing, not in development.
# vcs-clear-retry = True
